body { font-family: Palatino, "Palatino Linotype", "Book Antiqua", "Hoefler Text", Georgia, "Lucida Bright", Cambria, Times, "Times New Roman", serif;
    font-size: 18px;
    font-size: 1.8rem;
    background: #f8f8f8;
    color: #0C3C26;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased; }